<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :idleness %>
    <%= f.input :acknowledged_until %>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
