<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="searchbox">
  Search by name:
  <%= search_form_for @q do |f| %>
    <%= f.text_field :name_cont %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :name %></th>
      <th><%= sort_link @q, :idleness %></th>
      <th><%= sort_link @q, :updated_at %></th>
      <th><%= sort_link @q, :acknowledged_until %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client_path(client) %></td>
        <td><%= client.idleness %></td>
        <td><%=l client.updated_at %></td>
        <td><%= (client.acknowledged_until && client.acknowledged_until > Time.zone.now) ? l(client.acknowledged_until) : ' ' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_path(client), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      client_path(client),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
