<h1>Listing metrics</h1>

<div id="results_table">
<%= will_paginate @metrics %>
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap" width="5%">&nbsp;</th>
      <th><%= order @search, :by => :client %></th>
      <th><%= order @search, :by => :name %></th>
      <th><%= order @search, :by => :idleness %></th>
      <th><%= order @search, :by => :updated_at %></th>
      <th>Message Size</th>
    </tr>
  </thead>
  <tbody>
    <%- @metrics.each do |metric| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td nowrap="nowrap" width="5%"><%= link_to 'View', metric_path(metric) %></td>
      <td><%= h metric.client.name %></td>
      <td><%= h metric.name %></td>
      <td><%= metric.idleness %></td>
      <td><%= metric.updated_at %></td>
      <td><%= metric.message.length %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />

<%= link_to 'New metric', new_metric_path %>