<h1>Listing metrics</h1>

<div id="results_table">
<%= will_paginate @metrics %>
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap" width="5%">&nbsp;</th>
      <th <%= sort_td_class_helper "client" %> > <%= sort_link_helper "Client", "client" %></th>
      <th <%= sort_td_class_helper "name" %> > <%= sort_link_helper "Name", "name" %></th>
      <th <%= sort_td_class_helper "created_at" %> > <%= sort_link_helper "Time", "created_at" %></th>
      <th <%= sort_td_class_helper "idleness" %> > <%= sort_link_helper "Idleness", "idleness" %></th>
      <th <%= sort_td_class_helper "message_size" %> > <%= sort_link_helper "Message Size", "message_size" %></th>
    </tr>
  </thead>
  <tbody>
    <%- @metrics.each do |metric| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td nowrap="nowrap" width="5%"><%= link_to 'View', metric_path(metric) %></td>
      <td><%= metric.client.name %></td>
      <td><%= metric.name %></td>
      <td><%= metric.created_at %></td>
      <td><%= metric.idleness %></td>
      <td><%= metric.message.length %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />

<%= link_to 'New metric', new_metric_path %>