<%- model_class = Metric -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= will_paginate @metrics %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th><%= sort_link @q, :client %></th>
      <th><%= sort_link @q, :name %></th>
      <th><%= sort_link @q, :idleness %></th>
      <th><%= sort_link @q, :updated_at %></th>
      <th>Message size</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= link_to metric.id, metric_path(metric) %></td>
        <td><%= metric.client.name %></td>
        <td><%= metric.name %></td>
        <td><%= metric.idleness %></td>
        <td><%=l metric.updated_at %></td>
        <td><%= metric.message.length %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_metric_path(metric), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      metric_path(metric),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_metric_path,
            :class => 'btn btn-primary' %>
