<h1>Un-excluded Process Report</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th>Username</th>
      <th>Command</th>
      <th>Server Count</th>
    </tr>
  </thead>
  <tbody>
    <% # The output of sort is an array of two element arrays, each of those %>
    <% # two element arrays having a key and value from @process_counts. %>
    <% # For extra confusion, the keys of @process_counts are themselves %>
    <% # two element arrays of username and command. %>
    <%- @process_counts.sort{|a,b| b[1].length <=> a[1].length}.each do |pc| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= pc[0][0] %></td>
      <td><%= pc[0][1] %></td>
      <% # Link to the clients using a search so that users can see the %>
      <% # hostname on mouse over.  That can be handy when scanning the %>
      <% # report and deciding which processes need further investigation. %>
      <td><%= pc[1].size %> <%= pc[1].collect{|ct| link_to '.', clients_path('search[name]' => ct[0].name, 'redirect_single' => 1)} %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />
